* {
  font-family: Arial;
}

h1 {
  font-family: Geneva;
}

h3 {
  font-family: Geneva;
}

body {
  background-color: aquamarine;
}

article {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
}

header {
  background-image: url(" https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  color: white;
}

a {
  color: lightseagreen;
  text-decoration-line: none;
}

a:hover {
  text-decoration: underline red;
  /*background-color: yellow;*/
}
